{% extends "base.html.twig" %}
{% block title %}
    Home
{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('Resources/css/custom-css.css') }}" />
        {% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Book-Box</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav">
                        <li class="active"><a href="{{ path("post_index_list") }}">Accueil</a></li>
                        <li class="nav-divider"></li>
                        <li><h3>Groupes</h3></li>
                        <li><a href="{{ path("contact_groupe_list") }}">Liste des groupes</a></li>
                        <li><a href="{{ path("contact_groupe_add") }}">Ajouter un groupe</a></li>
                        <li><a href="{{ path("contact_groupe_list_members_request") }}">Invitations</a></li>
                        <li class="nav-divider"></li>
                        <li><h3>Utilisateurs</h3></li>
                        <li><a href="{{ path('user_list') }}">Utilisateurs</a></li>
                        <li><a href="{{ path('contact_list_friend_request') }}">Demande d'amis</a></li>
                        <li><a href="{{ path('contact_list_friend') }}">Mes amis</a></li>
                        <li class="nav-divider"></li>
                        <li><h3>Agenda</h3></li>
                        <li><a href="#">Toutes les dates</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="col-xs-12 col-sm-9 col-lg-offset-2">
                <br>
                {% for messages in app.session.flashbag.all() %}
                    {% for type, message in messages %}
                        {% if type == 'notice' %}
                            <div class="alert alert-dismissible alert-success col-lg-9 flash-bag-masg">
                                {{ message }}
                            </div>
                        {% endif %}
                        {% endfor %}
                {% endfor %}
                <!-- FlashBag message -->
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/.container-->
{% endblock body %}