{% extends "PostBundle::layout.html.twig" %}

{% block content %}
    <div class="well col-lg-12 container">
        <div class="row">
            <div class="col-xs-9 pull-left">
                <h2 class="col-xs-10">Fiche de l'Utilisateurs : {{ user.username }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9 pull-left">
                <br>
                <label>Nom d'utilisateur :</label> {{ user.username }}
                <br>
                <label>Email :</label> {{ user.email }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 pull-left">
                <h3 class="col-xs-10">Liste de ses amis</h3>
            </div>
        </div>
        <table class="table table-striped">
            {% set users = user.friends %}
            {% if users|length > 0  %}
                <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="row-centered">
                                <div class="col-centered">
                                    <a href="{{ path('contact_add_friend_request', {'friendId': user.id}) }}">
                                        <span class="glyphicon glyphicon-plus btn btn-success btn-xs"></span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <br>
                <div class="alert alert-dismissable alert-info">
                    Aucun amis
                </div>
            {% endif %}
        </table>
    </div>
{% endblock content %}