{% extends "PostBundle::layout.html.twig" %}

{% block content %}
    <div class="well col-lg-12 container">
        <div class="row">
            <div class="col-xs-5 pull-left">
                <h2 class="col-xs-10">Demande d'amis : <span class="label label-default">{{ friendsRequest|length }}</span></h2>
            </div>
        </div>
        <table class="table table-striped">
            {% if friendsRequest|length > 0  %}
                <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Date de la demande</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for friendRequest in friendsRequest %}
                    {% set user = friendRequest.applicant %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ friendRequest.createDate|date("F jS \\a\\t g:ia") }}</td>
                        <td>
                            {% if friendRequest.status == constant('WAITING', friendRequest) %}
                                <span class="label label-info">En attente</span>
                            {% elseif friendRequest.status == constant('COMFIRM', friendRequest) %}
                                <span class="label label-success">Accepté</span>
                            {% elseif friendRequest.status == constant('REJECT', friendRequest) %}
                                <span class="label label-danger">Rejeté</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="col-lg-1">
                                <a href="{{ path('contact_accept_friend_request', {'requestId': friendRequest.id}) }}">
                                    <span class="glyphicon glyphicon-plus btn btn-success btn-xs"></span>
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="{{ path('contact_reject_friend_request', {'requestId': friendRequest.id}) }}">
                                    <span class="glyphicon glyphicon-minus btn btn-warning btn-xs"></span>
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="{{ path('contact_remove_friend_request', {'requestId': friendRequest.id}) }}">
                                    <span class="glyphicon glyphicon-remove btn btn-danger btn-xs"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <br>
                <div class="alert alert-dismissable alert-info">
                    Vous n'avez aucune demande pour le moment
                </div>
            {% endif %}
        </table>
    </div>
{% endblock content %}